<h1>Enter Values here</h1>
<input placeholder="Enter initial height" #box1 (keyup)="onKeyH(box1.value)"> <br><br>
<input placeholder="coefficient of restution" #box2 (keyup)="onKeyE(box2.value)"><br><br>
<button (click)="onClickButton(box1.value,box2.value)">DRAW GRAPH</button>
<h3>#Conditions</h3>

<ul>
  <li>Please enter data in number format</li>
  <li>value of coefficient of restution should be greater than or equal to zero or it should be less than one</li>
</ul>
<h1>Total number of Bounce are : {{bounce}}</h1>

<div class="main">
  <div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>